<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.CourseMapper">

    <!--<cache eviction="LRU"  size="512" readOnly="true"></cache>-->
    <!--LinkedList<Course> getCourse();-->
    <select id="getCourse" resultType="com.manager.pojo.Course">
        SELECT * FROM course
    </select>

</mapper>