<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.StudentStatusMapper">

 <!--Integer updateStatus(StudentInfoWithCreditView studentInfoWithCreditView);-->

    <update id="updateStatus" >
        UPDATE student_status SET  status=${status} WHERE sid = ${sid}
    </update>

</mapper>
